<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibot</key>
	<dict>
		<key>Digest</key>
		<data>
		h/huB4kVpy9H/XhWNZ9NS2ZWGj39P16zejDYfjQJusqiJpCcp1uBPXrXXO9N
		MOu0
		</data>
	</dict>
</dict>
</plist>
