<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		xmoS/qMcbKWmtLdSbMipt1H+PNRdaeBaKZ1e9C0yeldTxkyctGzpRdnjNVwN
		cqBb
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		cUBYUO+trOc4d7wB0VF1zQsBfzpIpCZ5hS12xVFSRI3Pfs1bI4oiL27WJLPI
		42yW
		</data>
	</dict>
</dict>
</plist>
